<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Cocktail name: <%= @cocktail.name %></h1>
    </div>
  </div>
</div>
<hr>
<br>
<h2>List of doses</h2>
<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item">Dose: <%= dose.description%></li>
  <% end %>
</ul>
<br>
<hr>

<h2>Add a new dose</h2>
 <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>

<%= link_to "Back to all cokctails", :root %>
